@import "aura-dark-indigo.css";

/* Custom overrides of the imported PrimeVue theme */

:root {
    --text-color: #dddddd;
    --surface-border: #35353a;
    --highlight-text-color: #818cf8;
    color: var(--text-color)
}
